:root {
    --bs-primary: #1abc9c;
    --bs-primary-rgb: 26, 188, 156;

    --my-primary-dark: #199f84;
    --my-primary-dark-rgb: 25, 159, 132;

    --bs-secondary: #3a546d;
    --bs-secondary-rgb: 58, 84, 109;

    --bs-dark: #2c3e50;
    --bs-dark-rgb: 44, 62, 80;
    }

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* ----- NAV ----- */

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin: 0%;
}

.logo {
    font-size: 1.5rem;
}

.logo, .nav-links li {
    color: #fff;
    padding: 1rem;
}

/* ----- MAIN ----- */

main {
    margin-top: 68px;
}

.jumbo {
    background-color: var(--color-primary);
}

.container {
    text-align: center;
}

.profile-picture {
    width: 200px;
    margin: 0 auto;
}

h1,
h3 {
    color: #fff;
    text-transform: uppercase;
}



.star-line {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    color: #fff;
    align-items: center;
}

.star {
    font-size: 1.5rem;
}

.line {
    width: 200px;
    height: 2px;
    background-color: #fff;
}

img {
    width: 100%;
    border-radius: 10px;
}

.form-control {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.my-btn {
    background-color: var(--bs-primary);
}

h5,
p {
    color: #fff;
}
